# Python
**/venv/
**/__pycache__/
*.pyc

# .NET
**/bin/
**/obj/
.vs/

# React
**/node_modules/
dist/
.env

# Test / generated audio files
python-microservice/*.mp3
python-microservice/*.wav
python-microservice/*.webm
